
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{% static 'css-register/register-login/login_res.css' %}">
    <link rel="stylesheet" href="{% static 'css-register/register-login/login_style.css' %}">
</head>
<body>
<div id="main_wrapper">
    
    <form action="#" method="post">
        {% csrf_token %}
        <label for="user_name">نام و نام خانوادگی</label>
        {{form.username}}
        <label for="user_pass">رمز عبور</label>
        {{form.password}}
        <button type="submit" class="btn" >ورود به حساب</button>
        <span>حساب کاربری نداری! <a href="{% url 'signup' %}">ثبت نام</a> کن</span>
    </form>
</div>
</body>
</html>