<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>بازیابی رمز عبور</title>
    <link rel="stylesheet" href="{% static 'css-register/register-login/login_res.css' %}">
    <link rel="stylesheet" href="{% static 'css-register/register-login/login_style.css' %}">
</head>
<body>
<div id="main_wrapper" style="font-family: Simplified Arabic;">
    
    <form action="#"  style="font-family: Simplified Arabic; font-weight: bold; font-size: larger " >
        
        <p>بازگشت به <a href="{% url 'login' %}"> صفحه </a> ورود </p>
    </form>
</div>
</body>
</html>