{% load humanize %}
{% for category in categorys %}
    {% if category.name == category_name %}
        {% for product in category.products.all %}
            <a href="#" class="product-card">
              <figure class="product-card-img">
                <img src="{{ product.img.url }}"alt="{{ product.name }}"/>
              </figure>
              <article class="product-card-info">
                <h4>{{ product.name }}</h4>
                <div>
                  <strong>{{product.price|intcomma}} تومان</strong>
                  <button>افزودن به سبد خرید</button>
                </div>
              </article>
            </a>
        {% endfor %}
    {% endif %}
{% endfor %}
    
