<!DOCTYPE html>
{% load static %}
<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>کافه ساده | ویرایش پروفایل</title>

    <!-- css file -->
    <link rel="stylesheet" href="./style.css" />

    <!-- css icons -->
    <link rel="stylesheet" href="../css/fontawesome.min.css" />
    <link rel="stylesheet" href="../css/brands.css" />
    <link rel="stylesheet" href="../css/solid.css" />

    <!-- cloudflare -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  
</body>
</html>

  <body>
    <!-- navbar -->
    <nav class="navbar">
      <article class="nav-logo">
        <img src="../image/logo/logo.png" alt="cafe logo" />
      </article>

      <ul class="nav-lists">
        <i class="fa-solid fa-mug-hot"></i>
        <li class="list-item active"><a href="#">صفحه اصلی</a></li>
        <li class="list-item"><a href="#">منو</a></li>
        <li class="list-item"><a href="#">گالری تصاویر</a></li>
        <li class="list-item"><a href="#">ارتباط با ما</a></li>
        <li class="list-item"><a href="#">درباره ما</a></li>
      </ul>

      <article class="nav-icons">
        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
        <a href="./pages/login/login.html"><i class="fa-solid fa-user"></i></a>
      </article>
    </nav>

    <main>
      <div class="profile-container">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h2 class="profile-header">ویرایش پروفایل کاربری</h2>

          <section class="user-info-section">
            <!-- profile photo -->
            <div class="profile-image-section">
              {% if user_profile.profile_image %}
              <img
                class="profile-image"
                src="{{ user_profile.profile_image.url }}"
                alt="تصویر پروفایل"
                id="profile-image-preview"
              />
              {% else %}
              <img
                src="{% static 'image/images.png' %}"
                alt="تصویر پیش‌فرض"
                id="profile-image-preview"
              />
              {% endif %}

              <!-- upload & delete profile photo -->
              <div class="btn-parent">
                {% if user_profile.profile_image %}
                <button
                  type="button"
                  name="delete_image"
                  value="1"
                  class="btn delete-btn"
                >
                  <i class="fas fa-trash"></i> حذف تصویر پروفایل
                </button>
                {% endif %}

                <button type="button" class="btn upload-btn">
                  <i class="fas fa-camera"></i> انتخاب تصویر جدید
                  <input
                    type="file"
                    name="profile_image"
                    accept="image/*"
                    id="id_profile_image"
                  />
                </button>
              </div>
            </div>

            <!-- get user info-->
            <article class="form-inputs">
              <div class="form-group">
                <label>نام کاربری خود را وارد کنید</label>
                <div class="input-floating">{{ user_form.username }}</div>
              </div>
              <div class="form-group">
                <label>نام خانوادگی خود را وارد کنید</label>
                <div class="input-floating">{{ user_form.last_name }}</div>
              </div>
              <div class="form-group">
                <label>شماره تلفن خود را وارد کنید</label>
                <div class="input-floating">{{ user_form.phone }}</div>
              </div>
              <div class="form-group">
                <label>ایمیل خود را وارد کنید</label>
                <div class="input-floating">{{ user_form.email }}</div>
              </div>
            </article>
          </section>

          <!-- location info -->
          <div id="map" style="border-radius: 10px; margin-bottom: 20px"></div>
          <input type="hidden"name="lat"id="lat"value="{{ request.user.latitude|default:32.6546 }}"/>
          <input type="hidden"name="lng"id="lng"value="{{ request.user.longitude|default:51.6680 }}"/>
          <button type="submit" class="submit-btn">
            <i class="fas fa-save"></i> ذخیره تغییرات
          </button>
        </form>
      </div>

      <div id="toast" class="toast">
        <span id="toast-message"></span><i class="fas fa-check"></i>
      </div>
    </main>
    <script src="{% static 'js/edit_script.js' %}"></script>
    <script src="{% static 'js/location.js' %}"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYJG1zkphN4CtpAsCBF_xUzBfgpRreJ7A&libraries=places&language=fa&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
