<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>cafe sade</title>

    <!-- css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- css icons -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/brands.css' %}" />
    <link rel="stylesheet" href="{% static 'css/solid.css' %}" />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <article class="nav-logo">
        <img src="{% static 'image/logo/logo.png' %}" alt="cafe logo" />
      </article>

      <ul class="nav-lists">
        <i class="fa-solid fa-mug-hot"></i>
        <li class="list-item active"><a href="#">صفحه اصلی</a></li>
        <li class="list-item"><a href="#">منو</a></li>
        <li class="list-item"><a href="#">گالری تصاویر</a></li>
        <li class="list-item"><a href="#">ارتباط با ما</a></li>
        <li class="list-item"><a href="#">درباره ما</a></li>
      </ul>
      
      {% if user.is_authenticated %}
        <article class="nav-icons">
        <a href="{% url 'edit_profile' %}"><i class="fa-solid fa-bag-shopping"></i></a>
        <a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
      </article>
      {% else %}
      <article class="nav-icons">
        <a href="{% url 'edit_profile' %}"><i class="fa-solid fa-bag-shopping"></i></a>
        <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
      </article>
      {% endif %}
    </nav>

    <main>
      <!-- header -->
      <header class="header">
        <article class="header-text">
          <h1>کـــــــــافــــــــــه ســـــــــــاده</h1>
          <h2>زیــــبـــایـــی در ســـادگـیـــســـت</h2>
          <p class="paraElemShow" id="paraElemShow">
            در کافه ما، هر فنجان نوشیدنی داستانی از آرامش و لذت است. اینجا جاییه
            که می‌تونید لحظات خاص خودتون رو با طعم‌های منحصر به فرد تجربه کنید و
            در فضایی دلنشین، از هر روز معمولی یه خاطره بسازید
          </p>

          <button class="btn-show-para">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </article>

        <article class="header-img">
          <img
            src="{% static 'image/header/header-img.png' %}"
            alt="header img | drink img"
          />
        </article>
      </header>

      <!-- banner -->
      <section class="banner">
        <img
        id="banner-img-1"
          class="banner-img"
          src="{% static 'image/banner/بنر سایت 1.png' %}"
          alt="banner 1"
        />
        <img
        id="banner-img-2"
          class="banner-img"
          src="{% static 'image/banner/بنر سایت 2.png' %}"
          alt="banner 2"
        />
      </section>

      <!-- icons -->
      <section class="icons">
        <a href="#" class="icon">
          <i class="fa-solid fa-utensils"></i>
          <strong>غذاها</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-utensils"></i>
          <strong>کروسان</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-martini-glass-citrus"></i>
          <strong>نوشیدنی سرد</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-mug-hot"></i>
          <strong>قهوه</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-utensils"></i>
          <strong>دمنوش</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-cookie-bite"></i>
          <strong>شیرینی و دسر</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-utensils"></i>
          <strong>صبحانه</strong>
        </a>
        <a href="#" class="icon">
          <i class="fa-solid fa-utensils"></i>
          <strong>سالاد</strong>
        </a>
      </section>

      <!-- brown frame -->
      <section class="brown-frame">
        <div class="icon-top brown-frame-icon">
          <i class="fa-solid fa-chevron-down"></i>
        </div>

        <!-- papular product -->
        <section class="product">
          <article class="product-title">
            <h3>محصولات پرطرفدار:</h3>
          </article>
          <article class="product-cards">
            <i class="fa-solid fa-caret-left"></i>
            <i class="fa-solid fa-caret-right"></i>
            <!-- card1 -->
            {% with category_name='محصول' %}
              {% include 'products.html' %}
            {% endwith %}
          </article>
        </section>

        <!-- samll menu -->
        <section class="menu">
          <div class="menu-title">
            <h3>منو کوتاه:</h3>
          </div>
          <div class="menu-cards">
            <!-- card 1 -->
            <article class="menu-card">
              <div class="menu-card-title">
                <h3>قهوه ها</h3>
              </div>

              <div class="menu-card-body">
                <a href="#" class="menu-card-information">
                  <strong>آمریکانو</strong>
                  <div class="underline"></div>
                  <strong>95.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>لته</strong>
                  <div class="underline"></div>
                  <strong>105.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>کاپوچینو</strong>
                  <div class="underline"></div>
                  <strong>98.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <span><i class="fa-solid fa-eye"></i></span>
                  <strong>مشاهده بیشتر</strong>
                  <span><i class="fa-solid fa-eye"></i></span>
                </a>
              </div>
            </article>
            <!-- card 2 -->
            <article class="menu-card">
              <div class="menu-card-title">
                <h3>کیک و دسر</h3>
              </div>

              <div class="menu-card-body">
                <a href="#" class="menu-card-information">
                  <strong>چیزکیک</strong>
                  <div class="underline"></div>
                  <strong>82.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>تیرامیسو</strong>
                  <div class="underline"></div>
                  <strong>160.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>پای سیب</strong>
                  <div class="underline"></div>
                  <strong>95.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <span><i class="fa-solid fa-eye"></i></span>
                  <strong>مشاهده بیشتر</strong>
                  <span><i class="fa-solid fa-eye"></i></span>
                </a>
              </div>
            </article>
            <!-- card 3 -->
            <article class="menu-card">
              <div class="menu-card-title">
                <h3>غذا ها</h3>
              </div>

              <div class="menu-card-body">
                <a href="#" class="menu-card-information">
                  <strong>پاستا پنه</strong>
                  <div class="underline"></div>
                  <strong>300.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>برگر ساده</strong>
                  <div class="underline"></div>
                  <strong>360.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <strong>چیکن پستو</strong>
                  <div class="underline"></div>
                  <strong>315.000</strong>
                </a>
                <a href="#" class="menu-card-information">
                  <span><i class="fa-solid fa-eye"></i></span>
                  <strong>مشاهده بیشتر</strong>
                  <span><i class="fa-solid fa-eye"></i></span>
                </a>
              </div>
            </article>
          </div>
        </section>
      </section>

      <!-- footer -->
      <footer class="footer">
        <div class="footer-container">
          <div class="icon-top footer-icon">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <article class="footer-head">
            <article class="footer-h-text">
              <strong>
                <span><i class="fa-duotone fa-solid fa-location-dot"></i></span>
                کـاشان-بلوار امیرالمومنین،روبـروی ذوالفـقار چهـل و یـکم
              </strong>
              <div>
                <a href="#">
                  <span><i class="fa-solid fa-phone"></i></span>
                  031-55344959
                </a>
                <a href="./index.html">
                  <span><i class="fa-solid fa-camera"></i></span>
                  saade_cafe
                </a>
              </div>
            </article>
            <article class="footer-h-logo">
              <img src="{% static 'image/logo/logo.png' %}" alt="site logo" />
              <img src="{% static 'image/footer/E-namad.png' %}" alt="E-namad logo" />
              <img src="{% static 'image/footer/zarin.png' %}" alt="" />
            </article>
          </article>
          <article class="footer-body">
            <article class="footer-link">
              <h6>خــدمــات مــشــتــریــان</h6>
              <a href="#">ســــوالات مــــتــــداول</a>
              <a href="#">قــوانــیــن و مــقــررات</a>
              <a href="#">نــحـوه ثـبـت سـفـارش</a>
            </article>
            <article class="footer-link">
              <h6>بـــــــا کـــــافـــــــه ســــــــاده</h6>
              <a href="#">دربــــــــــاره مـــــــــــــــــــا</a>
              <a href="#">تصاویـر کـافه ســــــــاده</a>
              <a href="#">فـرصـت هــــــای شـغـلـی</a>
            </article>
            <article class="footer-link">
              <h6>مـــــــــــــحـــــــــــصــــــــولات</h6>
              <a href="#">قــــهـــوه هــای دمـــــی</a>
              <a href="#">لاتــــــه دارچـــــیــــنــــــی</a>
              <a href="#">شـــــیـــــک نــــــوتــــــــلا</a>
            </article>
            <article class="footer-link">
              <h6>لـــیـــنــک هـــای مـفـــیــد</h6>
              <a href="#">صــــفــــحــــه اصـــلــــی </a>
              <a href="#">مــــنـــو مـــحـــصـــولات </a>
              <a href="#">حـــســـــاب کـــاربـــــری</a>
            </article>
          </article>
          <article class="contact">
            <h6>
              از تـــخـــفـــیـــفـــات و اخــبــار ســاده بــا خــبــر شــویــد
            </h6>
            <form action="#">
              <input type="text" placeholder="آدرس ایمیل | شماره تلفن شما" />
              <button type="button">ارسال</button>
            </form>
          </article>
        </div>
        <div class="copyright">
          <h6>
            کلیه حقوق مادی و معنوی این وبسایت متعلق به
            <span>کافه ساده</span> است
          </h6>
          <a href="#">Design By : amirali.designs | 2025</a>
        </div>
      </footer>

      <section class="pluss"></section>
    </main>
    <script>
      const bannerImages=[
        "{% static 'image/banner/بنر سایت 1.png' %}",
        "{% static 'image/banner/بنر سایت 2.png' %}"
      ];
      const STATIC_PATHS = {
        banner1:"{% static 'image/banner/بنر سایت 1.png' %}",
        banner2:"{% static 'image/banner/بنر سایت 2.png' %}"
      };
    </script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
