{% extends "base_template.html" %}
{% block content %}
  {% load humanize %}
  {% load static %}
  <main>
    <!-- header -->
    <header class="header">
      <article class="header-text">
        <h1>کـــــــــافــــــــــه ســـــــــــاده</h1>
        <h2>زیــــبـــایـــی در ســـادگـیـــســـت</h2>
        <p class="paraElemShow" id="paraElemShow">
          در کافه ما، هر فنجان نوشیدنی داستانی از آرامش و لذت است. اینجا جاییه
          که می‌تونید لحظات خاص خودتون رو با طعم‌های منحصر به فرد تجربه کنید و
          در فضایی دلنشین، از هر روز معمولی یه خاطره بسازید
        </p>
        <button class="btn-show-para">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </article>
      <article class="header-img">
        <img
          src="{% static 'image/header/header-img.png' %}"
          alt="header img | drink img"
        />
      </article>
    </header>
    <!-- banner -->
    <section class="banner">
      <img
      id="banner-img-1"
        class="banner-img"
        src="{% static 'image/banner/بنر سایت 1.png' %}"
        alt="banner 1"
      />
      <img
      id="banner-img-2"
        class="banner-img"
        src="{% static 'image/banner/بنر سایت 2.png' %}"
        alt="banner 2"
      />
    </section>
    <!-- icons -->
    <section class="icons">
      <a href="#" class="icon">
        <i class="fa-solid fa-utensils"></i>
        <strong>غذاها</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-utensils"></i>
        <strong>کروسان</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-martini-glass-citrus"></i>
        <strong>نوشیدنی سرد</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-mug-hot"></i>
        <strong>قهوه</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-utensils"></i>
        <strong>دمنوش</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-cookie-bite"></i>
        <strong>شیرینی و دسر</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-utensils"></i>
        <strong>صبحانه</strong>
      </a>
      <a href="#" class="icon">
        <i class="fa-solid fa-utensils"></i>
        <strong>سالاد</strong>
      </a>
    </section>
    <!-- brown frame -->
    <section class="brown-frame">
      <div class="icon-top brown-frame-icon">
        <i class="fa-solid fa-chevron-down"></i>
      </div>
      <!-- papular product -->
      <section class="product">
        <article class="product-title">
          <h3>محصولات پرطرفدار:</h3>
        </article>
        <article class="product-cards">
          <i class="fa-solid fa-caret-left"></i>
          <i class="fa-solid fa-caret-right"></i>
          <!-- card1 -->
          {% with category_name='محصول' %}
            {% include 'products.html' %}
          {% endwith %}
        </article>
      </section>
      <!-- samll menu -->
      <section class="menu">
        <div class="menu-title">
          <h3>منو کوتاه:</h3>
        </div>
        <div class="menu-cards">
          <!-- card 1 -->
          <article class="menu-card">
            <div class="menu-card-title">
              <h3>قهوه ها</h3>
            </div>
            <div class="menu-card-body">
              <a href="#" class="menu-card-information">
                <strong>آمریکانو</strong>
                <div class="underline"></div>
                <strong>95.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>لته</strong>
                <div class="underline"></div>
                <strong>105.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>کاپوچینو</strong>
                <div class="underline"></div>
                <strong>98.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <span><i class="fa-solid fa-eye"></i></span>
                <strong>مشاهده بیشتر</strong>
                <span><i class="fa-solid fa-eye"></i></span>
              </a>
            </div>
          </article>
          <!-- card 2 -->
          <article class="menu-card">
            <div class="menu-card-title">
              <h3>کیک و دسر</h3>
            </div>
            <div class="menu-card-body">
              <a href="#" class="menu-card-information">
                <strong>چیزکیک</strong>
                <div class="underline"></div>
                <strong>82.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>تیرامیسو</strong>
                <div class="underline"></div>
                <strong>160.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>پای سیب</strong>
                <div class="underline"></div>
                <strong>95.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <span><i class="fa-solid fa-eye"></i></span>
                <strong>مشاهده بیشتر</strong>
                <span><i class="fa-solid fa-eye"></i></span>
              </a>
            </div>
          </article>
          <!-- card 3 -->
          <article class="menu-card">
            <div class="menu-card-title">
              <h3>غذا ها</h3>
            </div>
            <div class="menu-card-body">
              <a href="#" class="menu-card-information">
                <strong>پاستا پنه</strong>
                <div class="underline"></div>
                <strong>300.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>برگر ساده</strong>
                <div class="underline"></div>
                <strong>360.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <strong>چیکن پستو</strong>
                <div class="underline"></div>
                <strong>315.000</strong>
              </a>
              <a href="#" class="menu-card-information">
                <span><i class="fa-solid fa-eye"></i></span>
                <strong>مشاهده بیشتر</strong>
                <span><i class="fa-solid fa-eye"></i></span>
              </a>
            </div>
          </article>
        </div>
      </section>
    </section>
    <!-- footer -->
    <section class="pluss"></section>
  </main>
  <script>
    const bannerImages=[
      "{% static 'image/banner/بنر سایت 1.png' %}",
      "{% static 'image/banner/بنر سایت 2.png' %}"
    ];
    const STATIC_PATHS = {
      banner1:"{% static 'image/banner/بنر سایت 1.png' %}",
      banner2:"{% static 'image/banner/بنر سایت 2.png' %}"
    };
  </script>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock content %}
